/*------------------------------------------------*\
  #GENERAL
\*------------------------------------------------*/


/* --------- Text ------------- */

span.sheet-bold{
  font-weight: 800;
  font-size: medium;
}

label {
  margin: 5px 0px 5px 0px;
  font-size: 1.1em;
}


/* --------- Inputs ------------- */

input[type="text"] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
}

input[type="number"] {
  background-color: transparent;
  border: none;
}

textarea {
  background-color: transparent;
  width: 89%;
  height: 70%;
  margin-right: 15px;
}

input[type="checkbox"].sheet-checkbox {
  border-style: solid black;
  border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus{
  background-color: rgb(161, 228, 255);
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*-----------------------------------------------------------------*\
  #SECTIONS
\*-----------------------------------------------------------------*/


/* --------- General Section Styling ------------- */
.sheet-section {
    padding: 5px;
    min-height: 90%;
}


/*  ----- Character Sheet Structure -------
'.sheet-main' defines the sheet's general structure and dimensions using CSS Grid.
It uses 'Grid template areas' to name  each sheet section,
so that they can be positioned in the grid easily,
 while also providing a human-readable overview. */
div.sheet-main {
  width:    650px; /* Defines the width and height of the sheet */
  height:   900px;
  padding: 5px;
  background-color: gainsboro;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Section-specific CSS is written in a way that removes the need to define classes
on each individual   */

/* STATS SECTION */

div.sheet-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
  height: auto;
  width: auto;
  background-color: antiquewhite;
}

div.sheet-stats div.sheet-stat-block{
  background-image: url(https://github.com/jacob7395/Traveller-Sheet/blob/master/Images/StatsBlock.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 175px;
  position: relative;
  background-color: aqua;
}

div.sheet-stats div.sheet-stat-block div:nth-child(1){
  z-index: 4;
  position: relative;
  right: 50px;
  top: 50px;
}

div.sheet-stats div.sheet-stat-block div:nth-child(2){
  z-index: 3;
  position: relative;
  right: 27px;
  bottom: 19px;
}

div.sheet-stats div.sheet-stat-block div:nth-child(3){
    z-index: 2;
    position: relative;
    left: 80px;
    bottom: 35px;
}

div.sheet-stats div.sheet-stat-block div:nth-child(4){
    z-index: 1;
    position: relative;
    left: 110px;
    bottom: 45px;
}

div.sheet-stats div.sheet-stat-block label{
  font-size: 16px;
  text-align: right;
}
div.sheet-stats span,
div.sheet-stats input{
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
