/*------------------------------------------------*\
  #GENERAL
\*------------------------------------------------*/


/* --------- Text ------------- */

span.sheet-bold{
  font-weight: 800;
  font-size: medium;
}

label {
  margin: 5px 0px 5px 0px;
  font-size: 1.1em;
}


/* --------- Inputs ------------- */

input[type="text"] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
}

input[type="number"] {
  background-color: transparent;
  border: none;
}

textarea {
  background-color: transparent;
  width: 89%;
  height: 70%;
  margin-right: 15px;
}

input[type="checkbox"].sheet-checkbox {
  border-style: solid black;
  border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus{
  background-color: rgb(161, 228, 255);
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

input[type=number].sheet-ref::-webkit-inner-spin-button,
input[type=number].sheet-ref::-webkit-outer-spin-button,
input[type=number].sheet-txtfield::-webkit-inner-spin-button,
input[type=number].sheet-txtfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].sheet-ref,
input[type=number].sheet-txtfield {
  -moz-appearance: textfield;
}

/* ------- Buttons ---------- */

button[type="roll"]:not(.sheet-small){
  color: black;
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

button[type="roll"]:not(.sheet-small)::before{
  font-size: 1.4em;
}


/*-----------------------------------------------------------------*\
  #SECTIONS
\*-----------------------------------------------------------------*/


/* --------- General Section Styling ------------- */
.sheet-flex-center {
  display: flex;
  align-items: center;
}

.sheet-flex-middle {
  display: flex;
  justify-content: center;
}

.sheet-flex-down {
  flex-flow: column nowrap;
}

.sheet-section {
    padding: 5px;
    min-height: 90%;
}


/*  ----- Character Sheet Structure -------
'.sheet-main' defines the sheet's general structure and dimensions using CSS Grid.
It uses 'Grid template areas' to name  each sheet section,
so that they can be positioned in the grid easily,
 while also providing a human-readable overview. */
div.sheet-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:". stats";
  grid-gap: 6px;
  width:    650px; /* Defines the width and height of the sheet */
  height:   900px;
  padding: 5px;
}

/* Section-specific CSS is written in a way that removes the need to define classes
on each individual   */

/* STATS SECTION */

div.sheet-stats{
  grid-area: stats;
  margin-left: 15px;
}

div.sheet-stats div.sheet-stat-block{
  background-image: url(https://github.com/Roll20/roll20-character-sheets/blob/master/Feast_of_Legends/images/FoLstatblock.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
  height: 65px;
  width: auto;
}

div.sheet-stats div.sheet-stat-block label{
  width: 120px;
  padding-left: 10px;
}

div.sheet-stats input,
div.sheet-stats span{
  height: 45px;
  width: 60px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-left: 25px;
}

div.sheet-stats span{
  padding-top: 15px;
  padding-left: 10px;
}
